@model MusicStore.MVC.Models.AlbumSet

@{
    ViewBag.Title = "Registrar Albun ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- breadcrumb -->
<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="@Url.Action("Index", "Admin")"> Inicio</a></li>
        <li><a href="@Url.Action("Index", "AlbumSet")">Administración Albun</a></li>
        <li class="active">Registrar Albun</li>
    </ul>
</div>
<!-- breadcrumb -->
<!-- Titulo de página -->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">
            <i class="fa fa-edit fa-sm"></i>&nbsp; Registrar Albun
        </h3>
    </div>
</div>

<div class="padding-md">
    <div class="row">

        <!-- Contenido -->
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <span class="pull-left">
                        <i class="fa fa-edit"></i> Registro Albun
                    </span>
                    <ul class="tool-bar">
                        <li><a href="#" class="refresh-widget" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Actualizar"><i class="fa fa-refresh"></i></a></li>
                        <li><a href="#aportes" data-toggle="collapse"><i class="fa fa-arrows-v"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body collapse in">
                    <!-- body -->

                    <form class="form-horizontal no-margin" id="formValidate" data-validate="parsley">
                        <!-- Contenido -->
                        <div class="form-group">
                            <div class="control-label col-md-6">
                                <label>Descripción</label>
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "txtName", @data_required = "true", @pattern = "^[a-zA-Z0-9\\s-, ]+$" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </form>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div style="text-align:center">
                            <a id="btnsave" class="btn btn-primary animated-bar">
                                <i class="fa fa-save"></i>&nbsp; Guardar
                            </a>
                            <a class="btn btn-default" href="@Url.Action("Index", "AlbumSet", new { active = false })">
                                <i class="fa fa-reply"></i>&nbsp; Volver al Listado
                            </a>
                        </div>
                    }

                    <!-- /body -->
                </div>
                <div class="loading-overlay">
                    <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                </div>
            </div>
        </div>
        <!-- Contenido -->
        <br />
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">

    $("#btnsave").click(function () {
        var desc = $('#txtName').val();
        var token = $('[name=__RequestVerificationToken]').val();
        var Valido = $('#formValidate').parsley('validate');
            if (Valido) {
                $.ajax({
                    dataType: 'json',
                    async: false,
                    type: "POST",
                    headers: { "__RequestVerificationToken": token },
                    url: '@Url.Action("RegistrarAlbumSets", "AlbumSet")',
                    data: JSON.stringify({ desc: desc}),
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        switch (result) {
                            case "save":
                                toastr.options = {
                                    "closeButton": true,
                                    "debug": false,
                                    "progressBar": true,
                                    "positionClass": "toast-top-full-width",
                                    "onclick": null,
                                    "showDuration": "500",
                                    "hideDuration": "1000",
                                    "timeOut": "3000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                }
                                toastr.options.onHidden = function () {
                                    $(location).attr('href', "@Url.Action("Index", "AlbumSet")");
                                };
                                toastr.success('Albun registrado con exito.', 'Registro Albun');

                                break;
                            case "exist":
                                toastr.options = {
                                    "closeButton": true,
                                    "debug": false,
                                    "progressBar": true,
                                    "positionClass": "toast-top-full-width",
                                    "onclick": null,
                                    "showDuration": "700",
                                    "hideDuration": "1000",
                                    "timeOut": "7000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                }
                                toastr.error("Ya un albun con el nombre ingresado.", 'Registrar Albun ');
                                toastr.options.onHidden = function () {
                                    $(location).attr('href', "@Url.Action("Index", "AlbumSet")");
                                };
                                break;
                        }

                    }
                });
        }
    });
</script>
