@model MusicStore.MVC.Models.SongSet

@{
    ViewBag.Title = "Editar Canción";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- some CSS styling changes and overrides -->
<style>
    .kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        text-align: center;
    }

    .kv-avatar .file-input {
        display: table-cell;
        max-width: 220px;
    }
</style>
@Html.HiddenFor(model => model.Id, new { @class = "form-control", @id = "hddId" })

<!-- breadcrumb -->
<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="@Url.Action("Index", "Admin", new { active = true })"> Inicio</a></li>
        <li>Registro Canción</li>
        <li class="active">Editar Canción</li>
    </ul>
</div>

<!-- Titulo de página -->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin"><i class="fa fa-edit fa-sm"></i>&nbsp;Editar Canción - @ViewBag.AlbumSet</h3>
    </div>
</div>

<div class="padding-md">
    <div class="row">

        <!-- Contenido -->
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <span class="pull-left">
                        <i class="fa fa-edit"></i>&nbsp;Editar Canción
                    </span>
                    <ul class="tool-bar">
                        <li><a href="#" class="refresh-widget" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Actualizar"><i class="fa fa-refresh"></i></a></li>
                        <li><a href="#aportes" data-toggle="collapse"><i class="fa fa-arrows-v"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body collapse in">
                    <!-- body -->
                    <div class="col-md-12">

                        <form class="form-horizontal no-margin" id="formValidate" data-validate="parsley">

                            <div class="form-group">
                                <label class="col-md-4 control-label">Nombre Canción</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "txtName", @data_required = "true", @pattern = "^[a-zA-Z0-9\\s-, ]+$" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div style="text-align:center">
                                <a id="btneditar" class="btn btn-primary animated-bar">
                                    <i class="fa fa-edit"></i>&nbsp; Editar
                                </a>

                                <a class="btn btn-default" href="@Url.Action("Index", "SongSet", new {active = false})">
                                    <i class="fa fa-reply"></i>&nbsp; Volver al Listado
                                </a>
                            </div>

                        </form>

                    </div>
                    <div class="loading-overlay">
                        <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contenido -->

    </div>
</div>
<script type="text/javascript">

               $("#btneditar").click(function () {

                   var Id = $("#hddId").val();
                   var Name = $("#txtName").val();

                    var Valido = $('#formValidate').parsley('validate');
                    if (Valido) {
                        $.ajax({
                            dataType: 'json',
                            async: false,
                            type: "POST",
                            url: '@Url.Action("EditarSongSet", "SongSet")',
                            data: JSON.stringify({ Id: Id, Name: Name}),
                            contentType: "application/json; charset=utf-8",
                            success: function (result) {
                                switch (result) {
                                    case "save":
                                        toastr.options = {
                                    "closeButton": true,
                                    "debug": false,
                                    "progressBar": true,
                                    "positionClass": "toast-top-full-width",
                                    "onclick": null,
                                    "showDuration": "500",
                                    "hideDuration": "1000",
                                    "timeOut": "3000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                }
                                toastr.options.onHidden = function () {
                                    $(location).attr('href', "@Url.Action("Index", "SongSet", new { id = 0, name = "" })");
                                };
                                toastr.success('Canción editada con exito.', 'Registro Canción');
                                        break;

                                }

                            }
                        });
                    }
                });
</script>
